# Credenciales para enviar el mail
MAIL_ECOHARMONY=
MAIL_CONTRASENA_ECOHARMONY=

# Ejemplo de como llenar las credenciales que se utilizan para enviar el mail. Son necesarias para la funcion enviar_mail en compra_entradas.py
# MAIL_ECOHARMONY=parckecoharmonyadministracion@gmail.com
# MAIL_CONTRASENA_ECOHARMONY=talb ksqq fpvy kbsf
